@charset "utf-8";
/* Spoqa Han Sans Bold*/
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'), local('Spoqa Han Sans Bold'),
    url('./type/SpoqaHanSansBold.woff2') format('woff2'),
    url('./type/SpoqaHanSansBold.woff') format('woff'),
    url('./type/SpoqaHanSansBold.ttf') format('truetype');
}
/* Spoqa Han Sans Regular */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'), local('Spoqa Han Sans Regular'),
    url('./type/SpoqaHanSansRegular.woff2') format('woff2'),
    url('./type/SpoqaHanSansRegular.woff') format('woff'),
    url('./type/SpoqaHanSansRegular.ttf') format('truetype');
}
/* Spoqa Han Sans Light */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'), local('Spoqa Han Sans Light'),
    url('./type/SpoqaHanSansLight.woff2') format('woff2'),
    url('./type/SpoqaHanSansLight.woff') format('woff'),
    url('./type/SpoqaHanSansLight.ttf') format('truetype');
}
/* Spoqa Han Sans Thin */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'), local('Spoqa Han Sans Thin'),
    url('./type/SpoqaHanSansThin.woff2') format('woff2'),
    url('./type/SpoqaHanSansThin.woff') format('woff'),
    url('./type/SpoqaHanSansThin.ttf') format('truetype');
}
/* Brandon_bold */
@font-face {
    font-family: 'Brandon_bold';
    src: url('./type/Brandon_bld_1.eot');
    src: url('./type/Brandon_bld_1.eot?#iefix') format('embedded-opentype'),
         url('./type/Brandon_bld_1.woff') format('woff'),
         url('./type/Brandon_bld_1.ttf') format('truetype'),
         url('./type/Brandon_bld_1.svg#Brandon_bld_1') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Brandon_thin */
@font-face {
    font-family: 'Brandon_thin';
    src: url('./type/Brandon_thin_1.eot');
    src: url('./type/Brandon_thin_1.eot?#iefix') format('embedded-opentype'),
         url('./type/Brandon_thin_1.woff') format('woff'),
         url('./type/Brandon_thin_1.ttf') format('truetype'),
         url('./type/Brandon_thin_1.svg#Brandon_thin_1') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Brandon_light */
@font-face {
    font-family: 'Brandon_light';
    src: url('./type/Brandon_light_1.eot');
    src: url('./type/Brandon_light_1.eot?#iefix') format('embedded-opentype'),
         url('./type/Brandon_light_1.woff') format('woff'),
         url('./type/Brandon_light_1.ttf') format('truetype'),
         url('./type/Brandon_light_1.svg#Brandon_light_1') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Brandon_medium */
@font-face {
    font-family: 'Brandon_medium';
    src: url('./type/Brandon_med_1.eot');
    src: url('./type/Brandon_med_1.eot?#iefix') format('embedded-opentype'),
         url('./type/Brandon_med_1.woff') format('woff'),
         url('./type/Brandon_med_1.ttf') format('truetype'),
         url('./type/Brandon_med_1.svg#Brandon_med_1') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Brandon_regular */
@font-face {
    font-family: 'Brandon_regular';
    src: url('./type/Brandon_reg_1.eot');
    src: url('./type/Brandon_reg_1.eot?#iefix') format('embedded-opentype'),
         url('./type/Brandon_reg_1.woff') format('woff'),
         url('./type/Brandon_reg_1.ttf') format('truetype'),
         url('./type/Brandon_reg_1.svg#Brandon_reg_1') format('svg');
    font-weight: normal;
    font-style: normal;
}