@charset "utf-8";
@font-face{ 
    font-family:'NanumSquareL';
    src:url('./fonts/NanumSquareL.eot'); 
    src:url('./fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NanumSquareL.woff2') format('woff2'), 
    url('./fonts/NanumSquareL.woff') format('woff'), 
    url('./fonts/NanumSquareL.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}
@font-face{ 
    font-family:'NanumSquareR';
    src:url('./fonts/NanumSquareR.eot'); 
    src:url('./fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NanumSquareR.woff2') format('woff2'), 
    url('./fonts/NanumSquareR.woff') format('woff'), 
    url('./fonts/NanumSquareR.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}
@font-face{ 
    font-family:'NotoSansL';
    src:url('./fonts/NotoSans-Light.eot'); 
    src:url('./fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NotoSans-Light.woff2') format('woff2'), 
    url('./fonts/NotoSans-Light.woff') format('woff'), 
    url('./fonts/NotoSans-Light.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}
@font-face{ 
    font-family:'NotoSansR';
    src:url('./fonts/NotoSans-Regular.eot'); 
    src:url('./fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NotoSans-Regular.woff2') format('woff2'), 
    url('./fonts/NotoSans-Regular.woff') format('woff'), 
    url('./fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

