@charset "utf-8";
/* common.css : header, footer, navigation style  */
.header, .footer { clear:both; width:100%; } 
.header { height:111px;  border-top: 4px solid #ec1b30;
background:#f6f6f6; border-bottom:1px solid #ddd; }    
.tnb_wrap { width:1118px; margin:0 auto; }    
.lst_btn { font-size:2em; position:absolute; left:0.5em; top:0.5em; }    
.logo { display:block; margin:0 auto; float:left; width:200px; height:auto; 
    margin-top:10px; }
.logo img { display:block; width: 100%; height:auto; }  
.log_fr { float:right; cursor:pointer;  }
.log_fr p { float:left; line-height:60px; padding:8px; text-decoration: underline; }
.ex_menu_btn { display:block; float:left; width:50px; margin-top:15px; 
    margin-left:10px; cursor:pointer; } 
.ex_menu_btn img { display:block; width:100%; }    
.log_btn { display:block; float:left; font-size:40px; line-height:40px; margin-top:15px; margin-left:15px; color:#ec1b30; cursor:pointer; } 
.gnb_wrap { position:static; clear:both; height:38px; background:#fff; border-top:1px solid #ddd; left:auto; top:auto; z-index:40;    padding-top:0; 
    border-bottom:1px solid #ddd; width:100%; box-sizing:border-box; 
    transition:0.7s; background-image:none; background-size:140px 37px;
    background-position:center 1em; background-repeat:no-repeat; }
.gnb_wrap.on { left:auto; }    
.gnb { clear:both; width:1118px; height:38px; margin:0 auto;  background:#fff; } 
.gnb li { float:left; padding:8px 24px; clear:none; } 
.gnb li a { color:#333; font-size:0.9em; font-weight:600; }
.gnb li a:hover { color:#ec1b30; }     
.close_btn { clear:both; font-size:2.4em;  float:right; margin-right:0.5em; color:#333; width: 50px; height: 50px; line-height:50px; }    
.footer { clear:both; width: 100%; min-height: 120px; padding-bottom: 35px;  background-color: #2b2b2b; color:#fff; margin-top:20px; }    
.ft_wrap { width: 1118px; margin:0 auto; }  
#fnb { clear:both; float:left; height:40px;  }   
#fnb li { float:left; padding-right: 2.4em; }   
#fnb li a { font-size:0.9em; color:#fff; display:block; line-height:40px; } 
#fnb li.item4, #fnb li.item5 { display:block; }         
#sel_box { float:right; height:40px; line-height:35px; font-size:0.9em; 
    position:relative; color:#2b2b2b; background:#fff; padding-left: 1em; 
     width:120px; margin-top:0.5em; clear:none; }    
#rel_site { position:absolute; bottom:0px; left:0px; width:133px;
    border:1px solid #eee; cursor:pointer; } 
#rel_site summary { color:#ec1b30; font-weight:bold; display:block;
    text-align:center; }   
#rel_site a { display:block; line-height: 30px; color:#333; background:#fff; 
    text-indent:0.5em; }    
.copyright { clear: both;  font-size:0.9em; line-height:1.6; }
.copy_r { display:block; } 
.copy_in { display:inline; }    
@media screen and (max-width:767px) {
    .header { height: 56px; }
    .tnb_wrap { width:98%; }
    .log_btn { margin-top: 10px; margin-left:10px; font-size:32px; }
    .ex_menu_btn { width: 32px; }
    .logo { float:none; float:right; width: 100px; }
    .gnb_wrap { position:fixed; left:-110%; top:0; width:280px; height:100vh; 
    z-index:50; padding-top:5em; background-image:url("./data/logo.png"); background-size:100px auto;  background-position:center 1em; }
    .gnb_wrap.on { left:0px; }    
    .gnb { width:100%; height:40%; }
    .gnb li { clear:both; float:none; }
    .ft_wrap { width:92%; }
    #fnb li { padding-right:1.4em; }
    #fnb li.item4, #fnb li.item5 { display:none; }
    .copy_in { display:block; } 
    #sel_box { clear:both; float:none; margin:5px auto; }
}    
@media screen and (max-width:959px) and (min-width:768px) {
    .header { height: 56px; }
    .tnb_wrap { width:98%; }
    .log_btn { font-size: 42px; }
    .ex_menu_btn { width: 42px; }
    .logo { float:none; float:right; width: 140px; }
    .gnb_wrap { position:fixed; left:-110%; top:0; width:280px; height:100vh; 
    z-index:50; padding-top:5em; background-image:url("./data/logo.png"); background-size:140px auto;  background-position:center 1em; }
    .gnb_wrap.on { left:0px; }    
    .gnb { width:100%; height: 40%; }
    .gnb li { clear:both; float:none; }
    .ft_wrap { width:92%; }
    #fnb li { padding-right:1.8em; }
    #fnb li.item4, #fnb li.item5 { display:block; }
    .copy_in { display:inline; } 
    #sel_box { float:right; clear:none; }
}
@media screen and (min-width:960px) {

}    